# Puerto de la API
PORT=8000

# Ruta de almacenamiento de ChromaDB (usualmente en /app/chroma_data dentro del contenedor Docker o en local ./chroma_data)
CHROMA_PATH=/app/chroma_data

# Clave de API de Anthropic (Claude 3.5 Sonnet)
ANTHROPIC_API_KEY=sk-ant-api03-tu-clave-aqui...
